.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #4bb591;
  color: #333;
  font-weight: bolder;
  font-size: large;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

div.menu-item {
  background: #333;
  margin: auto 5px;
  color: white;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  height: 32px;
  vertical-align: baseline;
}

div.menu-item {
  background: #393939;
}

div.menu-item {
  background: #2d2d2d;
}

div.menu-text {
  margin: 3% auto;
}
