* {
  background: #333333;
  color: #d1ffed;
}

.App {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  top: 60px;
}

select {
  cursor: pointer;
  margin-left: 5px;
}
